@model List<TranLe_pj.Models.PostModel>
@using TranLe_pj.Areas.admin.GetData
@{
    Post _post = new Post();
    ViewBag.Title = "Sản phẩm - KOK Admin";
    ViewBag.Header = "Sản phẩm";
    ViewBag.View = "Product";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: auto;
        min-width: 300px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@ViewBag.Header</h3>

        <div class="clearfix">
            <div class="pull-left"><span class="alert-danger">@TempData["Msg"]</span></div>
            <div class="pull-right tableTools-container"></div>
        </div>

        <div class="table-header">
            Danh sách bài viết
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <a class="btn" href="@Url.Action(ViewBag.ActionModify)">
                <i class="ace-icon glyphicon-plus bigger-110"></i>
                Thêm mới
            </a> |
            <a class="btn" href="@Url.Action(ViewBag.Action)">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Làm mới
            </a> |
            <a id="btnDelete" class="btn" href="javascript:void(0)">
                <i class="ace-icon fa fa-ban bigger-110"></i>
                Xóa
            </a> |
            <a id="btnUpdate" class="btn" href="javascript:void(0)">
                <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                Sửa nhanh
            </a>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">

                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>
                            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                            Ngày tạo
                        </th>
                        <th>Hiển thị</th>
                        <th>Ảnh</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" value="@item.ProductID" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center">@(Model.IndexOf(item) + 1)</td>
                            <td class="center">@item.ProductID</td>
                            <td>
                                <a href="@Url.Action(ViewBag.ActionModify,new { id = item.ProductID})">@item.ProductName</a>
                            </td>
                            <td>@_post.getNameCategory(item.CategoryID)</td>
                            <td>@string.Format("{0:##,###.##}", item.Price.GetValueOrDefault())</td>
                            <td>@item.CreateDate.Value.ToString("dd-MM-yyyy HH:mm")</td>

                            <td class="center">
                                <label class="pos-rel-avai">
                                    <input type="checkbox" class="avai" value="@item.ProductID" @(item.IsAvailable ? "checked=\"checked\"" : "") />
                                    <span class="lblavai"></span>
                                </label>
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageName))
                                {
                                    @Html.Raw("<img width='50' height='50' src='/data/products/thumbs/" + item.ImageName + "' />");
                                }
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    @*<a class="blue" href="javascript:void(0)" onclick='window.open("@Url.Action("ListImage", new { id= item.ProductID})", "mywindow", "menubar=0,scrollbars=1,resizable=1,copyhistory=0,location=0,width=" + 400 + ",height=" + 400 + ",top=" + 0 + ",left=" + 0)'>
                                            <i class="ace-icon fa fa-folder bigger-130"></i>
                                        </a>*@
                                    <a class="blue" title="Album Ảnh" href="javascript:void(0)" onclick='openwindow("@Url.Action("ListImage", new { id= item.ProductID})", 800,500)'>
                                        <i class="ace-icon fa fa-folder bigger-130"></i>
                                    </a>
                                    <a class="green" title="Sửa" href="@Url.Action(ViewBag.ActionModify,new { id = item.ProductID})">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" title="Xóa" href="@Url.Action("DeletePost", new { id = item.ProductID, view = ViewBag.View })">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>

                                @*<div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông báo</h4>
                        </div>
                        <div class="modal-body">
                            <p>Cập nhật thành công</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openwindow(URL, width, height) {
        var left = (screen.width) - (width / 2);
        var top = (screen.height) - (height / 2);
        var childWindow = window.open(URL, "mywindow", "menubar=0,scrollbars=1,resizable=1,copyhistory=0,location=0,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        childWindow.focus();
    }
</script>
@section MyScripts {
    <!-- inline scripts related to this page -->
    <script>
        $(document).ready(function () {

            $('#btnUpdate').on("click", function () {
                var arrCheckAvai = [];
                $(':checkbox.avai:checked').each(function (i) {
                    arrCheckAvai[i] = $(this).val();
                });
                var arrUnAvai = [];
                $(':checkbox.avai:not(:checked)').each(function (i) {
                    arrUnAvai[i] = $(this).val();
                });
                var url = '@Url.Action("MultiUpdateRecord")';
                var postData = {
                    arrCheckAvai: arrCheckAvai,
                    arrUnAvai: arrUnAvai
                };
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(postData),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        $("#myModal").find(".modal-body").text(response.ResultMsg);
                        $("#myModal").modal();
                    },
                    error: function (er) {
                        return;
                    }
                });
            })
            $('#btnDelete').on("click", function () {
                var con = confirm("Chắc chắn xóa những dòng đã chọn!");
                if (con == true) {
                    var arrCheckAvai = [];
                    $(':checkbox.ace:checked').each(function (i) {
                        arrCheckAvai[i] = $(this).val();
                    });

                    var url = '@Url.Action("MultiDeleteRecord")';
                    var postData = {
                        arrCheckAvai: arrCheckAvai
                    };
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: JSON.stringify(postData),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            location.reload();
                        },
                        error: function (er) {
                            return;
                        }
                    });
                }
                else {
                    return false;
                }
            })
        })
    </script>
    <script type="text/javascript">
        jQuery(function ($) {

            
            //initiate dataTables plugin
            var oTable1 =
            $('#dynamic-table')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
            .dataTable( {
                bAutoWidth: false,
                "aoColumns": [
                  { "bSortable": false },
                  null, null,null, null, null, null, null,null,
                  { "bSortable": false }
                ],
                "aaSorting": [],
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ bài viết mỗi trang",
                    "zeroRecords": "Không tìm thấy - xin lỗi",
                    "info": "Đang hiển thị trang _PAGE_ trong _PAGES_ trang",
                    "infoEmpty": "Không có dữ liệu nào",
                    "infoFiltered": "(Được lọc từ _MAX_ tất cả dữ liệu)",
                    "emptyTable": "Không có dữ liệu nào",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu tiên",
                        "last": "Cuối cùng",
                        "next": "Kế tiếp",
                        "previous": "Về trước"
                    },
                }
                //,
                //"sScrollY": "200px",
                //"bPaginate": false,

                //"sScrollX": "100%",
                //"sScrollXInner": "100%",
                //"bScrollCollapse": true,
                //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                //"iDisplayLength": 50
            } );
            //oTable1.fnAdjustColumnSizing();


            //TableTools settings
            TableTools.classes.container = "btn-group btn-overlap";
            TableTools.classes.print = {
                "body": "DTTT_Print",
                "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
                "message": "tableTools-print-navbar"
            }

            //initiate TableTools extension
            var tableTools_obj = new $.fn.dataTable.TableTools( oTable1, {
                "sSwfPath": "@Url.Content("~/Areas/admin/Content/assets/js/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf")", //in Ace demo ../assets will be replaced by correct assets path

                "sRowSelector": "td:first-child",
                "sRowSelect": "multi",
                "fnRowSelected": function(row) {
                    //check checkbox when row is selected
                    try { $(row).find('input.ace[type=checkbox]').get(0).checked = true }
                    catch(e) {}
                },
                "fnRowDeselected": function(row) {
                    //uncheck checkbox
                    try { $(row).find('input.ace[type=checkbox]').get(0).checked = false }
                    catch(e) {}
                },

                "sSelectedClass": "success",
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "sToolTip": "Copy to clipboard",
                        "sButtonClass": "btn btn-white btn-primary btn-bold",
                        "sButtonText": "<i class='fa fa-copy bigger-110 pink'></i>",
                        "fnComplete": function() {
                            this.fnInfo( '<h3 class="no-margin-top smaller">Table copied</h3>\
									<p>Copied '+(oTable1.fnSettings().fnRecordsTotal())+' row(s) to the clipboard.</p>',
                                1500
                            );
                        }
                    },

                    {
                        "sExtends": "csv",
                        "sToolTip": "Export to CSV",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
                    },

                    {
                        "sExtends": "pdf",
                        "sToolTip": "Export to PDF",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
                    },

                    {
                        "sExtends": "print",
                        "sToolTip": "Print view",
                        "sButtonClass": "btn btn-white btn-primary  btn-bold",
                        "sButtonText": "<i class='fa fa-print bigger-110 grey'></i>",

                        "sMessage": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",

                        "sInfo": "<h3 class='no-margin-top'>Print view</h3>\
									  <p>Please use your browser's print function to\
									  print this table.\
									  <br />Press <b>escape</b> when finished.</p>",
                    }
                ]
            } );
            //we put a container before our table and append TableTools element to it
            $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

            //also add tooltips to table tools buttons
            //addding tooltips directly to "A" buttons results in buttons disappearing (weired! don't know why!)
            //so we add tooltips to the "DIV" child after it becomes inserted
            //flash objects inside table tools buttons are inserted with some delay (100ms) (for some reason)
            setTimeout(function() {
                $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function() {
                    var div = $(this).find('> div');
                    if(div.length > 0) div.tooltip({container: 'body'});
                    else $(this).tooltip({container: 'body'});
                });
            }, 200);



            //ColVis extension
            var colvis = new $.fn.dataTable.ColVis( oTable1, {
                "buttonText": "<i class='fa fa-search'></i>",
                "aiExclude": [0, 6],
                "bShowAll": true,
                //"bRestore": true,
                "sAlign": "right",
                "fnLabel": function(i, title, th) {
                    return $(th).text();//remove icons, etc
                }

            });

            //style it
            $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

            //and append it to our table tools btn-group, also add tooltip
            $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({container: 'body'});

            //and make the list, buttons and checkboxed Ace-like
            $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');



            /////////////////////////////////
            //table checkboxes
            $('th input.ace[type=checkbox], td input.ace[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) tableTools_obj.fnSelect(row);
                    else tableTools_obj.fnDeselect(row);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input.ace[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if(!this.checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
            });




            $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });


            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function(){
                    var row = this;
                    if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
                var $row = $(this).closest('tr');
                if(this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });



            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }

        })
    </script>
}